{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					CALR <small>Creation and Annotation of Linguistic Resources </small>
				</h1>
			</div>
			<h2>
				Semester Assignment
			</h2>
			<p>
				This website is an interactive report generator for creating a parse tree on the Horizon Data.
			</p>
			<p> Dependency parsing has become important for a variety of NLP applications, such as event extraction (Björne et al., 2009), error correction (Tetreault et al., 2010), and machine translation (Stein et al., 2010). As dependency parsing is often one of the last steps in a NLP pipeline, the accuracy performance has to be high-reaching. For this reason, the present paper focuses on an empirical comparison of three dependency parsers, namely AllenNLP, spaCy, and Stanford Dependency Parser, where the latter serves simultaneously as our baseline. The data set that was parsed, consists of the multilingual magazine Horizons, a Swiss research magazine. The research question that this paper will bring light into is how the different parsers perform on the same data set in terms of accuracy.
			</p>
		</div>
	</div>
	<hr>
	<!-- ISSUE 9: TODO: Dependent Dropdown list to be implemented -->
	<!-- https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html-->
		<div id="test_case">
			<div class="row">
			<div class="col-md-12">
				<h3>
					Evaluating Parsers
				</h3>
				<dl>
					<dt>
						Background
					</dt>
					<dd>
						Based on Data from the Horizons Research Magazine, that was provided to us by the University of Zurich, the unannotated texts were loaded into a database, where we can access individual articles, for parsing.
					</dd>
					<dt>
						Stanford NLP Parser (Stanza)
					</dt>
					<dd>
						Stanza is our baseline parser, against which we evaluate the fscore of two other parsers.
					</dd>
					<dt>
						Multilingual Suppport
					</dt>
					<dd>
						Each parser that we evaluate has its own default model from the parsing providers. We evaluate the same article in three available languages.
					</dd>
					<dt>
						Output
					</dt>
					<dd>
						The output of the parsing evaluation, is a table which parser is compared to the Stanford parser more suitable for the given application.
					</dd>
				</dl>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4" id="select_issue">
			<h3>
				1. Choose Issue
			</h3>
			<dl>
				<dt>
					Issue
				</dt>
				<dd>
					The first step is to select an issue, with the article that you would like to parse.
				</dd>
				<dt>
					Future releases
				</dt>
				<dd>
					...of the application should be able to add your own text.
				</dd>
			</dl>
			<div class="dropdown">
			<select id="dropdownMenuButtonIssue">
			{% for issue in issues %}
				<option value="{{ issue['id'] }}">{{ issue['issue'] }}</option>
			{% endfor %}
			</select>
			</div>
		</div>
		<div class="col-md-4" id="select_article">
			<h3>
				2. Choose Article
			</h3>
			<dl>
				<dt>
					Article Selection
				</dt>
				<dd>
					Now, you can select an article to parse.
				</dd>
				<dt>
					Future releases
				</dt>
				<dd>
					...of the application will have a dependent article selection, and the ability to add your own articles.
				</dd>
			</dl>
			<div class="dropdown">
				<select id="dropdownMenuButtonArticle">
				{% for article in articles %}
					<option value="{{ article['id'] }}">{{ article['article'] }}</option>
				{% endfor %}
			</select>
			</div>
		</div>
		<div class="col-md-4" id="start_parsing">
			<h3>
				3. Start Parsing
			</h3>
			<dl>
				<dt>
					Now Parsing:
				</dt>
				<dd id="now_parsing">
					<h6>Issue:</h6><p id="now_parsing_issue">Please make a selection</p>
					<h6>Article:</h6><p id="now_parsing_article">Please make a selection</p>
				</dd>
			</dl> 
			<button id="btn_parse" type="button" class="btn btn-success">
				Parse
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" height="900">
			<h2>
                German
			</h2>
				<p id="en_article">German article to be displayed here!</p>
		</div>
		<div class="col-md-4" height="900">
			<h2>
				English
			</h2>
			<p id="de_article">English article to be displayed here!</p>
		</div>
		<div class="col-md-4" height="900">
			<h2>
				French
			</h2>
			<p id="fr_article">French article to be displayed here!</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<h3>
				Evaluation Results:
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Language
						</th>
						<th>
                            Allen NLP
						</th>
						<th>
							Stanford
						</th>
					    <th>
							SpaCy
						</th>
                    </tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							DE
						</td>
						<td id="stanford_de">
							0
						</td>
						<td id="allen_de">
							0
						</td>
						<td id="spacy_de">
							0
						</td>
					</tr>
					<tr>
						<td>
							1
						</td>
						<td>
							EN
						</td>
						<td id="stanford_en">
							0
						</td>
						<td id="allen_en">
							0
						</td>
						<td id="spacy_en">
							0
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							FR
						</td>
						<td id="stanford_fr">
							0
						</td>
						<td id="allen_fr">
							0
						</td>
						<td id="spacy_fr">
							0
						</td>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
		</div>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Team
			</h3>
			<p>
			Here is the project team of this application.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/wtb.png') }}" width="240" height="240">
			<h4>Tobias Weisskopf</h4>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					Computational Linguistics and Sinology @ UZH
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Forensic Scientist @ KPMG 
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Voluntary working on open source software project to fight COVID-19 from Taiwan #mylog14
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/adr.png') }}" width="240" height="240">
			<h4>Ariana Dragusha</h4>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					Digital Linguistics @ UZH
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Research Assistant @ Slavic Seminar
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Study the Albanian language in Switzerland in an academic setting, makes her super happy.
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/rmc.png') }}" width="240" height="240">
			<h4>Rodolfo Miranda Chavez</h4>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					General Linguistics and English @ UNIL 
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Work as a FLE (French as a Foreign language) teacher
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Studying German and Italian at the moment
				</dd>
			</dl>
		</div>
	</div>
</div>
{% endblock content %}