{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					CALR <small>Creation and Annotation of Linguistic Resources </small>
				</h1>
			</div>
			<h2>
				Semester Assignment
			</h2>
			<p>
				This website is an interactive report generator for creating a parse tree on the Horizon Data.
			</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4" id="select_issue">
			<h3>
				1. Choose Issue
			</h3>
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
			<div class="dropdown">
			<select id="dropdownMenuButtonIssue">
			{% for issue in issues %}
				<option value="{{ issue['id'] }}">{{ issue['issue'] }}</option>
			{% endfor %}
			</select>
			</div>
		</div>
		<div class="col-md-4" id="select_article">
			<h3>
				2. Choose Article
			</h3>
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
			<div class="dropdown">
				<select id="dropdownMenuButtonArticle">
				{% for article in articles %}
					<option value="{{ article['id'] }}">{{ article['article'] }}</option>
				{% endfor %}
			</select>
			</div>
		</div>
		<div class="col-md-4" id="start_parsing">
			<h3>
				3. Start Parsing
			</h3>
			<dl>
				<dt>
					Description lists
				</dt>
				<dd id="result">
					?
				</dd>
			</dl> 
			<button id="btn_parse" type="button" class="btn btn-success">
				Parse
			</button>
		</div>
	</div>
	<div id="test_case">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Test Case
			</h3>
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
                German
			</h2>
				<p id="en_article">German article to be displayed here!</p>
		</div>
		<div class="col-md-4">
			<h2>
				English
			</h2>
			<p id="de_article">English article to be displayed here!</p>
		</div>
		<div class="col-md-4">
			<h2>
				French
			</h2>
			<p id="fr_article">French article to be displayed here!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Language
						</th>
						<th>
                            Allen NLP
						</th>
						<th>
							Stanford
						</th>
					    <th>
							SpaCy
						</th>
                    </tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							DE
						</td>
						<td id="stanford_de">
							0
						</td>
						<td id="allen_de">
							0
						</td>
						<td id="spacy_de">
							0
						</td>
					</tr>
					<tr>
						<td>
							1
						</td>
						<td>
							EN
						</td>
						<td id="stanford_en">
							0
						</td>
						<td id="allen_en">
							0
						</td>
						<td id="spacy_en">
							0
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							FR
						</td>
						<td id="stanford_fr">
							0
						</td>
						<td id="allen_fr">
							0
						</td>
						<td id="spacy_fr">
							0
						</td>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg">
		</div>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Team
			</h3>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/wtb.png') }}" width="240" height="240">
			<h2>Tobias Weisskopf</h2>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					Computational Linguistics and Sinology @ UZH
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Forensic Scientist @ KPMG 
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Voluntary working on open source software project to fight COVID-19 from Taiwan #mylog14
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/adr.png') }}" width="240" height="240">
			<h2>Ariana Dragusha</h2>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					Digital Linguistics @ UZH
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Research Assistant @ Slavic Seminar
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Study the Albanian language in Switzerland in an academic setting, makes her super happy.
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<img alt="Bootstrap Image Preview" src="{{ url_for('static', filename='media/team/rmc.png') }}" width="240" height="240">
			<h2>TRodolfo Miranda Chavez</h2>
			<dl>
				<dt>
					Field of Study
				</dt>
				<dd>
					General Linguistics and English @ UNIL 
				</dd>
				<dt>
					Professional Background
				</dt>
				<dd>
					Work as a FLE (French as a Foreign language) teacher
				</dd>
				<dt>
					Fun Fact
				</dt>
				<dd>
					Studying German and Italian at the moment
				</dd>
			</dl>
		</div>
	</div>
</div>
{% endblock content %}