<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(document).ready(function(){
            $("#dropdownMenuButtonIssue").click(function(){
                
            });
        });
    </script>
    <script type=text/javascript>
  $(function() {
    $('#btn_parse').bind('click', function() {
        issue_id = $('select[id=dropdownMenuButtonIssue]').val()
        issue_text = $('select[id=dropdownMenuButtonIssue]').text()

	const button = document.querySelector('btn_parse')
   

	button.disabled = true

        article_text = $('select[id=dropdownMenuButtonArticle]').text()
        article_id = $('select[id=dropdownMenuButtonArticle]').val()

	alert('Start Parsing of Issue Nr. ' String(issue_text) + ' and Article Nr. ' + String(article_text) + '!')       



        $('#now_parsing_issue').text(issue_text);
        $('#now_parsing_article').text(article_text);
        
        console.log("The user selected " + String(issue_id) + " and, " + String(article_id) + ".");
      $.getJSON( 
        $SCRIPT_ROOT + "_report",
        {
            issue: issue_id,
            article: $('select[id=dropdownMenuButtonArticle]').val()

        },
        function(data) {
            
            //Write the body of the selected article in to the preview.
            $('#en_article').text(data.de.body);
            $('#de_article').text(data.en.body);
            $('#fr_article').text(data.fr.body);

            // Write the output from evaluation to the relative table rows
            // Uncomment the lines when a parser is implemented

            // Stanford Parser
            $('#stanford_de').text(data.evaluation_stanford.de_stan);
            $('#stanford_en').text(data.evaluation_stanford.en_stan);
            $('#stanford_fr').text(data.evaluation_stanford.fr_stan);

            // Allen Parser
            $('#allen_de').text(data.evaluation_allen.de_allen);
            $('#allen_en').text(data.evaluation_allen.en_allen);
            $('#allen_fr').text(data.evaluation_allen.fr_allen);

            // Spacy Parser
            $('#spacy_de').text(data.evaluation_spacy.de_spacy);
            $('#spacy_en').text(data.evaluation_spacy.en_spacy);
            $('#spacy_fr').text(data.evaluation_spacy.fr_spacy);


        }
    );
      return false;
    });
  });
</script>
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}
        &copy; All copyright reserved. <a href="http://domain.invalid/"></a>.
	Reference: 
	[1] Data Source: https://www.horizons-mag.ch/ provided by UZH, as part of the course Creation and Annotation of Linguistic Resources - FS2020
	[2] ...
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
