body {
  background: #ffffff;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: 	#0028a5
}

.dataframe {
  background-color: #ffffff;
}

.mystyle{
  background-color: #ffffff;
}

.row {
  background-color: #ffffff;
  color: #333333;
}